@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Hero */
  .hero-efectiv-sol {
    max-width: 496px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/dark-bg-desktop2x.png.jpg);
    }
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/about-img-17.jpg.jpg);
  }
  /* about */
  .about-sizes {
    display: flex;
  }
  .about-item-icon {
    display: flex;
  }
  .about-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  /*/about  */

  /* Our team */
  .our-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .our-team-list {
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .our-team-background {
    flex-basis: calc((100% - 72px) / 4);
  }

  /* Our team */

  /* customers */
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-list {
    flex-wrap: nowrap;
  }
  .customers-iteam {
    width: calc((100% - 120px) / 6);
  }
  /* customers */
}
