@media screen and (min-width: 1200px) {
  .container {
    /* max-width: 1158px; */
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
  }

  .header {
    border-bottom: 1px solid #e7e9fc;
    margin: auto;
  }

  .header-container {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 76px;
  }

  .header-address {
    list-style: none;
    font-style: normal;
    margin-left: auto;
  }

  .header-eamail {
    color: var(--main-title-color4);
    font-weight: 400;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-tel {
    color: var(--main-title-color4);
    font-weight: 400;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-list {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .header-list .item + .item {
    margin-left: 40px;
  }

  .header-list {
    display: flex;
  }
}
