@media screen and (min-width: 428px) {
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* about */

  .goal-list {
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .about-title {
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-title-color4);
  }
  /*/ about */
  /* our team */
  .our-team {
    display: flex;
    flex-direction: column;
  }

  .our-team {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  /* our team */
  /*  customers*/
  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .customers-iteam {
    width: calc((100% - 16px) / 2);
  }
  /* customers */
}
