@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
  /* our team */
  .our-team {
    display: flex;
    flex-direction: column;
  }
  .our-team {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .our-team-list {
    display: flex;
    width: calc((100% - 72px) / 4);
  }
  /* our team */
}
