@media screen and (min-width: 428px) {
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /*  */
  .header-tel {
    display: none;
  }
  .header-email {
    display: none;
  }
  .header-link {
    display: none;
  }
  /* Hero */
  .hero-efectiv-sol {
    margin: 0 auto;
    margin-bottom: 48px;
    text-align: left;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    max-width: 320px;
  }
  /* about */

  .goal-list {
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .about-title {
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-title-color4);
  }
  /* our team */
  .our-team {
    display: flex;
    flex-direction: column;
  }

  .our-team {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  /*  customers*/
  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .customers-iteam {
    width: calc((100% - 16px) / 2);
  }
  /* customers */
}
/* last */
