/* @font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Open Sans Bold";
  src: url(../fonts/OpenSans-Bold.ttf); */
.element.style {
  font-style: normal;
}
body {
  font-family: "Roboto", "Helvetica Neue", "Verdana", "Tahoma", sans-serif;
}
:root {
  --main-title-color: #ffffff;
  --main-title-color2: #434455;
  --main-title-color3: #4d5ae5;
  --main-title-color4: #2e2f42;
  --main-title-color5: #404bbf;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
.section {
  padding: 120px 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1158px;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* Header */
.header-address {
  font-style: normal;
}
.header {
  padding: 24px 0;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.link {
  text-decoration: none;
}
.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-title-color3);
}
.second-logo {
  margin-right: 76px;
  color: var(--main-title-color4);
}

.header-list {
  gap: 40px;
  display: flex;
}
.header-item {
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color4);
}
.header-link:hover,
.header-link:focus {
  color: var(--main-title-color3);
}

.header-email {
  margin-right: 40px;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: var(--main-title-color2);
}
.header-tel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color2);
}
.header-email:hover,
.header-tel:hover,
.header-email:focus,
.header-tel:focus {
  color: var(--main-title-color3);
}
/* Header */
/* hero*/
.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--main-title-color4);
}
.hero-efectiv-sol {
  margin: 0 auto;
  max-width: 496px;
  margin-bottom: 48px;
  text-align: left;
  font-size: 56px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.hero-btn {
  margin-left: auto;
  margin-right: auto;
  min-width: 196px;
  border: transparent;
  border-radius: 4px;
  padding: 12px 20px;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--main-title-color);
  background: var(--main-title-color3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-btn:focus,
.hero-btn:hover {
  color: var(--main-title-color5);
}
/* section about */
.about {
  flex-wrap: wrap;
  display: flex;
  gap: 24px;

  list-style: none;
}
.about-hidden {
}
.goal-list {
  display: flex;
  list-style: none;
  gap: 24px;
}
.about-item {
  flex-basis: calc((100% - 72px) / 4);
}
.about-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color4);
}
.about-text {
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color2);
}
/*section about*/
/* section doing */
.section-doing {
  padding-top: 0;
  flex-wrap: wrap;
  display: flex;
  gap: 24px;
}
.doing-iteam {
  flex-basis: calc((100% - 48px) / 3);
}
.section-doing-doing {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--main-title-color4);
  text-transform: capitalize;
}

/* section doing */

/* section Our team */
.our-team {
}
.our-team-sizes {
  padding-top: 32px;
  padding-bottom: 32px;
}
.our-team-list {
  margin: 0 auto;
  text-align: center;
  display: flex;
  gap: 24px;
}
.our-team-background {
  flex-basis: calc((100% - 72px) / 4);
  text-align: center;
  background-color: var(--main-title-color);
  background: var(--main-title-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.our-tam-team {
  padding-bottom: 72px;
  margin: 0 auto;
  text-align: center;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--main-title-color4);
}
.our-team-name-sec {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color4);
}
.our-team-name-third {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color4);
}
.our-team-name-vier {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color4);
}

.our-team-name-first {
  margin-bottom: 8px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main-title-color4);
}
.our-team-job {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--main-title-color2);
}
/* sectoin Our team */

/* section last */
.section-last {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--main-title-color4);
}

.section-last-last {
  margin-top: 16px;
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.logoSec {
  margin-bottom: 16px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color3);
}

.link {
  text-decoration: none;
}
.second-logoSecc {
  margin-bottom: 16px;

  color: var(--main-title-color);
}
/* section last */

/* 2 етап */
.element.style {
  font-style: normal;
}

.link2 {
  text-decoration: none;
}
.list2 {
  list-style: none;
}

/* Header */
.Header-address {
  font-style: normal;
  margin: 0 auto;
}
.logovier {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  font-style: normal;

  color: var(--main-title-color3);
}
.Header {
  padding: 24px 0;
}

.second-logovier {
  margin-right: 76px;
  color: var(--main-title-color4);
}
.Header-container {
  display: flex;
  align-items: center;
}
.header-navigation-sec {
  display: flex;
  align-items: center;
}

.header-list {
  gap: 40px;
  display: flex;
}

.header-link2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color2);
}
.header-link2:hover,
.header-link2:focus {
  color: var(--main-title-color3);
}

.header-emaill {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-title-color4);
  letter-spacing: 0.02em;
}
.header-emaill:hover,
.header-tell:hover,
.header-emaill:focus,
.header-tell:focus {
  color: var(--main-title-color5);
}
.header-tell {
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: var(--main-title-color2);
}
.header-emaill:hover,
.header-emaill:focus,
.header-tell:hover,
.header-tell:focus {
  color: var(--main-title-color3);
}

/* <!-- Portfolio --> */
.portfolio-menu-Nav-2 {
}
.portfolio-navigation {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-top: 96px;
  padding-bottom: 72px;
}
.visually-hidden {
  position: absolute;
  top: -150%;
  z-index: -100;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  user-select: none;
  pointer-events: none;
  cursor: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;
  outline: none;
  white-space: nowrap;
}
.portfolio-menu-list {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  border: transparent;
  border-radius: 4px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--main-title-color3);
  color: var(--main-title-color);
}
.portfolio-menu-list2 {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  border: transparent;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-title-color3);
  cursor: pointer;
  letter-spacing: 0.04em;
}

.Project-list-2 {
}
.portfolio-list-iteam {
  flex-basis: calc((100% - 48px) / 3);
}

.works-title {
  padding: 32px 16px;
  box-sizing: border-box;
  border: 1px solid var(--main-title-color);
}
.Project-container {
}
.Project {
}
.portfolio-list {
  flex-wrap: wrap;
  gap: 24px;
  display: flex;
  list-style: none;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  padding: 0;
  margin-bottom: 48px;
}
.Project-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main-title-color4);
}
.Project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-title-color2);
}
/* / Portfolio */
/* Logo and Text */

.Logo {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--main-title-color4);
}
.Logo-link {
  margin-bottom: 16px;
  font-family: "Raleway";
  font-style: normal;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--main-title-color5);
}
.second-Logo {
  margin-bottom: 16px;
  color: var(--main-title-color);
}
.link {
}
.Text {
  margin-top: 16px;
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

/* /Logo and Text */
