@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /* about */
  .goal-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
    flex-direction: row;
    display: flex;
  }
}
.about-item {
  flex-basis: calc((100% - 24px) / 3);
}
/*/ about */
/* our team */
.our-team {
  padding-top: 96px;
  padding-bottom: 96px;
}
.our-team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 64px 24px;
  flex-direction: row;
  display: flex;
}
.our-team-background {
  flex-basis: calc((100% - 24px) / 3);
}

/* / Out team */
/* customers */
.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 64px 24px;
  flex-direction: row;
  display: flex;
}
.customers-iteam {
  width: calc((100% - 48px) / 2);
}
/* customers */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-sm {
    max-width: 552px;
  }
}
