@media screen and (min-width: 768px) {
  .section {
    padding: 120px 0;
  }
  .container {
    max-width: 768px;
  }
  /* header */
  .header-address {
    display: block;
  }
  .header-navigation {
    display: block;
  }
  .header-tel {
    font-size: 12px;
    line-height: 1.17;
  }

  .header-email {
    font-size: 12px;
    line-height: 1.17;
  }
  .header {
    background: #ffffff;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    display: block;
    border-bottom: 2px;
  }
  .header-container {
    background-color: transparent;
    height: unset;
    position: static;
  }

  .header-contact {
    padding-right: 16px;
    padding-left: 157px;
    gap: 12px;
    flex-direction: column;
  }
  .page-header {
  }
  .header-tel {
    font-size: 16px;
    line-height: 1.5;
    display: flex;
  }
  .header-email {
    font-size: 16px;
    line-height: 1.5;
    display: flex;
  }
  .heder-poschta {
  }
  .burger-open {
  }
  .page-header .container {
    padding: 0;
  }
  .logo {
    padding-left: 16px;
  }
  .second-logo {
    margin-right: 120px;
  }
  .menu {
    display: none;
  }
  .menu-toggle {
    display: none;
  }
  .header-container {
  }
  .header-link {
    display: flex;
    padding: 24px 0;
    position: relative;
  }
  .header-list {
    display: flex;
    gap: 24px;
  }
  /* Hero */
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .hero-efectiv-sol {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-tablet2x.jpg.jpg);
    }
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tablet.jpg.jpg);
  }
  /* about */
  .about {
    padding-top: 96px;
    padding-bottom: 96px;
    flex-wrap: wrap;
    display: flex;
    gap: 24px;
    list-style: none;
  }
  .goal-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
    flex-direction: row;
  }
  .about-text {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-title-color4);
    margin-bottom: 8px;
  }
  .about-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  /*/ about */
  /* doing */
  .section-doing {
    display: none;
  }
  /* our team */
  .our-team {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
    flex-direction: row;
  }
  .our-team-background {
    flex-basis: calc((100% - 24px) / 2);
  }

  /* / Out team */
  /* customers */
  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .customers-list {
    gap: 24px;
    justify-content: center;
  }
  .customers-iteam {
    width: calc((100% - 48px) / 3);
  }
  /* customers */
  /* doing */
  .section-doing {
    display: none;
  }
  /* doing */
  /* last */
  .section-last {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .last-block {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 24px;
  }
  .social-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 108px;
  }
  .last-social-text {
    text-align: left;
  }
  .last-form-title {
    text-align: left;
  }
  .last-social {
    margin-left: 0;
    /* padding-left: 24px; */
  }
  .last-form {
  }
  .form-mob {
  }
  .last-form-input {
    margin-right: 24px;
    width: 264px;
    margin-bottom: 0;
  }
  .submit-btn {
  }
  .last-form-wrap {
    display: flex;
  }
  .submit-btn {
    margin-top: 0;
    margin-right: 24px;
  }
  .last-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-direction: row;
  }
  .mobila {
    text-align: left;
    padding-left: 0px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .container-sm {
      max-width: 552px;
    }
  }
  /* 2 section */
  /* portfolio */
  .portfolio-navigation {
    margin-top: 64px;
    flex-wrap: wrap;
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
  }
  .header-link2 {
    padding: 35px 0;
  }
  .header-list-portfolio {
    gap: 40px;
    display: flex;
  }
  .portfolio-tablet-list {
    padding-left: 121px;
    gap: 0;
    flex-direction: column;
  }
  .portfolio-list {
    display: flex;
  }
  .portfolio-list-iteam {
    flex-basis: calc((100% - 48px) / 2);
  }
  .portfolio-social-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 108px;
  }

  .last-form-title {
    text-align: left;
  }
  .last-form-portfolio {
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-direction: row;
  }
  .portfolio-last-social {
    padding-left: 0;
    margin-left: 24px;
  }
}
